<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
			content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>todoList</title>
		<script src="./vue.js"></script>
	</head>
	<body>
		<div id="app">
			<input type="text" v-model="inputValue">
			<button v-on:click="handleBtnClick">提交</button>
			<ul>
				<li v-for="item in list">{{item}}</li>
			</ul>
		</div>
		<script>
			var app = new Vue({
				el: '#app', // 实例负责接管处理的区域，在这里接管id为"app"部分的内容
				data: { // 定义一组数据，里面有一个content数据，它的内容是hello world再通过{{}}差值表达式来调用data的数据
					list: [],
					inputValue: '' // 数据双向绑定
				},
				methods: {
					handleBtnClick: function() {
						this.list.push(this.inputValue)
						this.inputValue = '' // 让push完inputValue后，input置空
					}
				}
			})
		</script>
	</body>
</html>
